In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
import lightgbm as lgb
from sklearn.model_selection import StratifiedKFold
from sklearn import metrics
import warnings

warnings.filterwarnings('ignore')
train_path = 'E:/Msstudy/tianchi/smart_sea_active/dataset/hy_round1_train_20200102'
test_path = 'E:/Msstudy/tianchi/smart_sea_active/dataset/hy_round1_testB_20200221'

In [2]:
train_files = os.listdir(train_path)
test_files = os.listdir(test_path)
print(len(train_files), len(test_files))

7000 2000

In [3]:
train_files[:3]

['0.csv', '1.csv', '10.csv']

In [4]:
test_files[:3]

['10000.csv', '10001.csv', '10002.csv']

In [11]:
ret = []
for file in tqdm(train_files):
    df = pd.read_csv(f'{train_path}/{file}')
    ret.append(df)
df = pd.concat(ret)
df.columns = ['ship','x','y','v','d','time','type']

100%|█████████████████████████████████████| 7000/7000 [00:58<00:00, 119.01it/s]

In [13]:
df.to_hdf('E:/Msstudy/tianchi/smart_sea_active/input/train.h5', 'df', mode='w')

In [5]:
ret = []
for file in tqdm(test_files):
    df = pd.read_csv(f'{test_path}/{file}')
    ret.append(df)
df = pd.concat(ret)
df.columns = ['ship','x','y','v','d','time']

100%|██████████████████████████████████████| 2000/2000 [00:22<00:00, 76.97it/s]

In [6]:
df.to_hdf('E:/Msstudy/tianchi/smart_sea_active/input/testB.h5', 'df', mode='w')

In [7]:
df.shape

(795233, 6)

In [8]:
df.head()

    ship             x             y     v  d           time
0  10000  6.392512e+06  5.475100e+06  0.27  0  1120 23:47:31
1  10000  6.392512e+06  5.475100e+06  0.27  0  1120 23:37:31
2  10000  6.392512e+06  5.475100e+06  0.05  0  1120 23:27:31
3  10000  6.392512e+06  5.475100e+06  0.05  0  1120 23:17:31
4  10000  6.392512e+06  5.475100e+06  0.05  0  1120 23:07:31